h1 {
  font-family: Arial;
  font-size: 20px;
  color: green;
}

table {
  border: dotted;
}

td, th {
  border: solid 2px;
}

.div {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 100px;
  width: 100px;
}

.leftup {
  flex: 50%;
}

.rightup {
  flex: 50%;
  text-align: right;
}

.leftdown {
  flex: 50%;
}

.rightdown {
  flex: 50%;
  text-align: right;
}

.center {
  align-items: center;
  justify-content: center;
}